.navbar{
    width: 100vw;
    height: 10vh;
    background-color: $mainColor;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 64px;

    .nav-container{
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: clamp(1rem, 20px, 5vw);
        
    }

    .nav-selector-container{
        display: none;
        position: absolute;
        top: 8vh;
        background-color: $accentColor;
        padding: 12px;
        border-radius: 5px;

        div{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $mainColor;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
        }

        
        div, p{
            color: white;
        }
    }

    .title{
        font-size: clamp(1.5rem, 40px, 10vw);
    }

    .account-image{
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: black;
    }

    *{
        color: white;
        font-family: $mainFont;
    }
}

.mobile-navbar{
    display: none;
}



//mobile
@media screen and (max-width: 900px) {
    .navbar{
        display: none;
    }
    .mobile-navbar{
        width: 100vw;
        height: 12vh;
        background-color: $mainColor;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title{
            font-size: clamp(1.5rem, 40px, 10vw);
        }

        .nav-container{
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
        }

        .nav-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .nav-selector-container-mobile{
            display: none;
            position: absolute;
            top: 12vh;
            background-color: $accentColor;
            padding: 12px;
            border-radius: 5px;
            
            div, p{
                color: white;
            }
        }

        *{
            color: white;
            font-family: $mainFont;
        }
    }
}