$mainColor: rgb(194, 5, 52);
$mainColorOpacity: rgba(194, 5, 52, 0.459);
$accentColor: rgb(16, 108, 145);
$accentColorOpacity: rgba(16, 109, 145, 0.459);
$accentColorHover: rgb(10, 78, 105);

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$mainFont: 'Anton', sans-serif;